<section>

    {{#each listOfUsers}}
        <ul>
            <a href="/users/{{_id}}"></a>
                <li>Nombre: {{name}}</li>
                <li>Apellidos: {{surname}}</li>
                <li>Nombre de usuario: {{userName}}</li>
        </ul>
    {{/each}}

</section>