<section>
    
        {{#each listOfCars}}
            <ul>
                <a href="/rentalCars/detail/{{_id}}">
                    <li>Marca: {{carBrand}}</li>
                    <li>Modelo: {{carModel}}</li>
                    <li>Tamaño: {{carType}}</li>
                </a>
            </ul>
        {{/each}}
  
</section>