<form action="/rentalCars/createCar" method="POST" id="formRent">
        
        <h2>Coche nuevo para alquiler</h2>

        <section id="transactionTypeRent">
            <label for="transactionType">Finalidad del coche: </label>
            <input type="text" id="transactionType" name="transactionType" placeholder="Finalidad"/>
        </section>

        <section id="carSizeRent">
            <label for="carSize">Tamaño del coche: </label>
            <input type="text" id="carSizee" name="carSize" placeholder="Tamaño"/>
        </section>

        <section id="carBrandRent">
            <label for="carBrand">Marca del coche: </label>
            <input type="text" id="carBrand" name="carBrand" placeholder="Marca"/>
        </section>

        <section id="carModelRent">
            <label for="carModel">Modelo del coche: </label>
            <input type="text" id="carModel" name="carModel" placeholder="Modelo"/>
        </section>

        <section id="motorTypeRent">
            <label for="motorType">Tipo de combustible: </label>
            <input type="text" id="motorType" name="motorType" placeholder="Combustible"/>
        </section>

        <section id="transmissionTypeRent">
            <label for="transmissionType">Tipo de cambio: </label>
            <input type="text" id="transmissionType" name="transmissionType" placeholder="Marchas"/>
        </section>

        <section id="numberOfSeatsRent">
            <label for="numberOfSeats">Número de asientos: </label>
            <input type="text" id="numberOfSeats" name="numberOfSeats" placeholder="Plazas"/>
        </section>

        <section id="trunkSizeRent">
            <label for="trunkSize">Tamaño del maletero: </label>
            <input type="number" id="trunkSize" name="trunkSize" placeholder="Tamaño del maletero"> 
        </section>

        <section id="airConditioningRent">
            <label for="airConditioning">Aire acondicionado: </label>
            <input type="text" id="airConditioning" name="airConditioning" placeholder="Aire acondicionado" >
        </section>

        <section id="co2EmissionsRent">
            <label for="co2Emissions">Emisiones CO2: </label>
            <input type="number" id="co2Emissions" name="co2Emissions" placeholder="Emisiones">
        </section>

        <button type="submit">Enviar</button>
        <button type="reset">Reset</button>

    </form>